@{
    ViewBag.Title = "Power";
    ViewBag.Genre = "Metal";
    Layout = "Genres_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container-md" id="bands">
        <form class="d-flex" id="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn bg-white" id="btn_search" type="submit">Search</button>
        </form>
        <div class="d-flex justify-content-between flex-row flex-wrap" >
            <div class="card text-bg-dark mb-3">
              <img src="~/img/bands/Accept.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Genres:<p class="animation my-0 px-2">Heavy, Speed Metal</p></li>
                <li class="list-group-item">Country:</li>
              </ul>
              <div class="card-body text-center">
                <a  class="card-link text-center">Look out</a>
              </div>
            </div>

            <div class="card mb-3">
              <img src="~/img/bands/ACDC.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Genres: <p class="animation my-0 px-2">Hard, Rock'n'Roll, Heavy Metal</p></li>
                <li class="list-group-item">Country:</li>
              </ul>
              <div class="card-body text-center" >
                <a  class="card-link text-center">Look out</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3">
              <img src="~/img/bands/The Cure.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Genres: <p class="animation my-0 px-2">Gothic, Post-punk rock</p></li>
                <li class="list-group-item">Country:</li>
              </ul>
              <div class="card-body text-center">
                <a  class="card-link text-center">Look out</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3">
              <img src="~/img/bands/The Cure.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Genres: <p class="animation my-0 px-2">Gothic, Post-punk rock</p></li>
                <li class="list-group-item">Country:</li>
              </ul>
              <div class="card-body text-center">
                <a  class="card-link text-center">Look out</a>
              </div>
            </div>

            <div class="card text-bg-dark mb-3">
              <img src="~/img/bands/Motorhead.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Genres:<p class="animation my-0 px-2">Heavy, Speed Metal, Hard Rock</p></li>
                <li class="list-group-item">Country:</li>
              </ul>
              <div class="card-body text-center">
                <a  class="card-link text-center">Look out</a>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
